



/* DEFAULTS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {

}


.section {
    width: 100%;
    height: 100%;
}



/*  FONTS  */








/* ----------------------------------------------- */

/* NAVBAR */


/* ----------------------------------------------- */


.navbar-nav li.nav-item.active a.nav-link:link,
.navbar-nav li.nav-item.active a.nav-link:visited,
.navbar-nav li.nav-item a.nav-link:link,
.navbar-nav li.nav-item a.nav-link:visited {
    color: #262626;
    animation-delay: font-family: Raleway;
    font-size: 16px;
    font-weight: 700;
    line-height: 25px;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
    transition: border-top .1s;
}
 

.navbar-nav li.nav-item.active a.nav-link:hover {
    border-top: 2px solid #ff6033;
    color: #000000;
	border-top: 3px solid #fe6033;

}

a.nav-link:hover {
    border-top: 2px solid #ff6033;
    padding: 4px 0 0 0;
    background-color: inherit;
    color: inherit;
}

ul.navbar-nav.ml-auto {text-align: center;}

.container.navigation-1 {margin-top: 10px;}




/* ----------------------------------------------- */

/* SECTION-HOME */

/* ----------------------------------------------- */

section.home {
    height: 100vh;
}

.jumbotron-fluid-1 {
    background-image: url(../img/background1.png);
    width: 100%;
    background-size: cover;
    background-position: center;
    height: 110vh;
    margin-bottom: 0px;
    padding-top: 500px;
}


.my-jumbotron-text {letter-spacing: 0.35rem;}

.section-home p {padding: 0 0 30px 165px;}

h2.my-jumbotron-text {    
    font-family: "Raleway - Heavy";
    font-size: 60px;
    font-weight: 700;
    line-height: 25px;
}

p.text-section-home {
    color: #262626;
    font-family: Raleway;
    font-size: 17px;
    font-weight: 300;
    line-height: 27px;
}

img.scroll-section-home {
   position: relative;
   top:50%;
   left: 30%;
}

@media only screen and (max-width:992px) {
  
    html,
    body{
    width:100%;
    overflow-x:hidden;
  }
 
}
@media only screen and (max-width:768px) {    
img.scroll-section-home {left: 18%;}
    
    
}

@media only screen and (max-width:576px) {    

h2.my-jumbotron-text {font-size: 58px;}    
    
p.text-section-home {    
    font-size: 19px;
    padding-top: 10px;
}
    
button.btn.btn-light.section-home {
    width: 230px;
    height: 65px
}
    
img.scroll-section-home {left: 5%;}
    
}
    
    
    


/* ----------------------------------------------- */

/* SECTION-ABOUT */

/* ----------------------------------------------- */

.section-about {
    background-color: #00bfbf;
    background-image: radial-gradient(circle 1125px at center, rgba(0, 196, 196, 0.9) 0%, rgba(0, 183, 183, 0.9) 32%, rgba(0, 173, 173, 0.9) 68%, rgba(0, 156, 156, 0.9) 100%);
    height: 100%;
}

p-2.about {
    display: flex;
    flex-wrap: wrap;
}

.section-about h2 {
    color: #ffffff;
    font-size: 90px;
    font-weight: 700;
    line-height: 27px;
    margin-top: 140px;
    margin-bottom: 35px;
}

.section-about p.lead {
   color: #ffffff;
   font-family: Raleway;
   font-size: 17px;
   font-weight: 300;
   line-height: 27px;
}

.section-about .col-md-6 {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


@media only screen and (max-width:992px) {
    .section-about h2 {
    margin-top: 45px;
    z-index: 100;
}

}


@media only screen and (max-width:768px) {
    .section-about h2 {
    margin-top: 10px;
    font-size: 75px;
    }
    
    .section-about h2,
    .section-about p.lead
    {
    text-align: center;
    }    
}


@media only screen and (max-width:568px) {
    .section-about h2 {font-size: 70px;}
  
}
    

/* ----------------------------------------------- */

/* SECTION-SERVICES */

/* ----------------------------------------------- */

.section-services {
    background-color: #70bfff;
    height: 100%; 
}

.section-services h2 {
    color: #ffffff;
    font-family: Raleway;
    font-size: 90px;
    font-weight: 700;
    line-height: 27px;
    position: absolute;
    top: 50%;
    left: 17%;
}

.section-services .col-md-6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

p.offer {
    width: 50%;
    color: #000000;
    font-weight: 700;
    text-align: center;
    padding-top: 35px;
    margin-bottom: -30px;
    text-align: center;
    margin-left: 70px;
}


a p.offer:hover{
      text-decoration-color: #ffffff;
}

img.pull-right-global {
    float: right;
    position: absolute;
    top: 53%;
    left: 66%;
}

.pull-right {float: right!important;}

img.title-photo {
    margin-top: 100px;
    margin-bottom: 180px;
}



@media only screen and (max-width:1200px) {
    .section-services h2 {left: 10%;}
    
    
    .services-button::before {right: 204px !important; }
    
    
    img.pull-right-global {left: 69%;
    top:58%;}
  
}



@media only screen and (max-width:992px) {
     .section-services h2 {
     font-size: 77px;
     left:8% 
}
    
    img.pull-right-global {
    left: 74%;
    top: 53% }
    
    .services-button::before {right: 154px !important;}
    
}

@media only screen and (max-width:768px) {
    .section-services h2 {
    font-size: 62px;
    left: 6%;
}
    div.services-button {width: 330px;}
    
    p.offer {margin-left: 40px;}
    
    .services-button::before {right: 126px !important;}
     
    img.pull-right-global {
        top: 54%;
        left: 73%;
    }
}

@media only screen and (max-width:576px) {
    
    div.services-button.button-1 {
        margin-top: 30px;
    }
    
    div.services-button {
    
}   
    .services-button::before {
    display: none;}
    
    img.pull-right-global {
    top: 58%;
    left: 71%;
}

  
   
}


/* ----------------------------------------------- */

/* SECTION-GALLERY */

/* ----------------------------------------------- */

.section-gallery {
    background-color: #ffe92f;
    height: 100%;
}


.section-gallery h2 {
    color: #262626;
    font-family: Raleway;
    font-size: 90px;
    font-weight: 700;
    line-height: 27px;
    padding: 100px 0 30px 0;
}

.section-gallery p {
    color: #262626;
    font-family: Raleway;
    font-size: 17px;
    font-weight: 300;
    line-height: 27px;
    padding: 30px 0 46px 0;
    text-align: center;
}


.section-gallery > .photo-1 {
    width: 770px;
    height: 550px;
    padding: 0;
    margin: 0 30px 0 179px;
}

.section-gallery > .photos-1  img.dish-2 {
    padding-bottom: -3px;
}

img.dish-2,
img.dish-3 {
    padding-left: 20px;
}

img.dish-4 {
    padding-right: 10px;
}

img.dish-5 {
    padding-left: 10px;
}

img.dish-4.img-fluid,
img.dish-5.img-fluid {
    padding-top: 10px;
}

img.dish-3.img-fluid
{padding-top: 30px;}

.dishes > .photos-2 {margin-left: 165px;}

.dishes .col-md-6 > .dish-4 {
     margin: 30px 30px 225px 165px;
}
  
.dishes .col-md-6 > .dish-5 {
    margin-top: 30px;
    margin-right: 165px;
    margin-left: -2px;
}





@media only screen and (max-width:768px) {
  
    .row.gallery {margin-left: 115px;}
    
    img.dish-4 {margin-left: 80px;}

    img.dish-5 {margin-left: 70px;}
    
    
    
}

@media only screen and (max-width:576px) {
    
    .row.gallery {margin-left: 50px;}
    

    img.dish-4.img-fluid {
        margin-left: 10px;
        padding-top: 20px;
    }



    img.dish-5.img-fluid {
       margin-left: 0px;
       padding-top: 20px;
    }
   

}

/* ----------------------------------------------- */

/* SECTION-NEWSLETTER*/

/* ----------------------------------------------- */


/*
.jumbotron-5 {
    background-image: url(../img/s5.1bg.png);
    max-width: 100%;
    background-size: cover;
    background-position: right;
    height: 100%;
    margin-bottom: 0px;
}


.my-jumbotron-text {
    letter-spacing: 0.35rem;
}

.section-1 p {
    padding: 0 0 30px 165px;
}

h2.my-jumbotron-text-section {
color: #262626;
font-family: Raleway;
font-size: 40px;
font-weight: 700;
line-height: 27px;
padding-top: 145px;
padding-bottom: 35px;
}


p.text-section-5 {
    color: #262626;
    font-family: Raleway;
    font-size: 17px;
    font-weight: 300;
    line-height: 27px;
    padding: 0 0 20px 0;
}


.form-control {
    display: block;
    width: 100%;
    height: 53px;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    opacity: 0.5;
}

.form-group {
    border: 1px solid #262626;
    width: 570px;
    height: 55px;
    margin: 0 0 163px 0;
    opacity: 0.5;
    color: #262626;
    font-family: Raleway;
    font-size: 15px;
    font-weight: 300;
    line-height: 27px;
}
*/


/* ----------------------------------------------- */

/* SECTION-NEWSLETTER*/

/* ----------------------------------------------- */

.section-newsletter {
    background-image: url(../img/s5.1bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}


.section-newsletter h2 {
    color: #262626;
    font-family: Raleway;
    font-size: 40px;
    font-weight: 700;
    line-height: 27px;
    padding-top: 150px;
}

.section-newsletter p.lead {
    color: #262626;
    font-family: Raleway;
    font-size: 17px;
    font-weight: 300;
    line-height: 27px;
}

.form-control {
    display: block;
    width: 100%;
    height: 53px;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    opacity: 0.5;
}
.section-newsletter .form-group {
    border: 1px solid #262626;
    width: 570px;
    height: 55px;
    margin: 0 0 163px 0px;
    opacity: 0.5;
    color: #262626;
    font-family: Raleway;
    font-size: 15px;
    font-weight: 300;
    line-height: 27px;
}

button.btn.btn-primary-5 {
    width: 170px;
    height: 55px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    background-color: #96b92c;
    border: 2px solid #96b92c;
    border: 0;
    color: #ffffff;
    font-family: Raleway;
    font-size: 20px;
    font-weight: 300;
    line-height: 27px;
    text-transform: uppercase;
    
    position: relative;
    top: 67px;
    right: 569px;
    }


@media only screen and (max-width:1200px) { 
 button.btn.btn-primary-5 {
    top: 82px;
    right: 392px;}  
  
}


@media only screen and (max-width:992px) {
    
  button.btn.btn-primary-5 {
    top: 68px;
    right: 207px;
}
    .section-newsletter p.lead {
    font-size: 18px;
    width: 140%;
    }
    
}

@media only screen and (max-width:768px) {
    .section-newsletter h2 {font-size: 39px;}
    
    .section-newsletter p.lead {width: 198%;}
    
    button.btn.btn-primary-5 {
    width: 200px;
    top: 160px;
    right: 335px;
}
    
    
   
  
}

@media only screen and (max-width:576px) {
    
    .section-newsletter .form-group {width: 400px;}
    
    .section-newsletter p.lead {width: 100%;}
    
    button.btn.btn-primary-5 {
    top: 190px;
    right: 235px;
}
    
  
}




/* ----------------------------------------------- */

/* SECTION-BLOG */

/* ----------------------------------------------- */

#blog {
	background-color: #B07CF8;
	color: #ffffff;
}

.section-blog h2 {
	margin-top: 0;

    font-family: Raleway;
    font-size: 90px;
    font-weight: 700;
    line-height: 25px;
    padding-top: 100px;
    padding-bottom: 50px;
}


/* zoom effect on hover */
#blog .post-blog img {
	max-width: 100%;
	box-shadow:         0px 2px 10px 0px rgba(50, 50, 50, 0.6);
	transition: all 0.4s;
}

a.post-blog:hover img {
	transform: scale(1.2);
}

a.post-blog:hover .post-title {
	background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.9) 100%);
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.9) 100%);
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.9) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#b3000000',GradientType=0 );
}

a.post-blog {
	display: inline-block;
	position: relative;
	margin-top: 35px;
	overflow: hidden;
}
/* zoom effect on hover end */

.post-blog .post-date {
	position: absolute;
	top: 30px;
	left: 30px;
	color: #ffffff;
	background-color: rgba(0, 0, 0, 0.4);
	text-transform: uppercase;
	font-weight: bold;
	font-size: 24px;
	padding: 2px;
	width: 60px;
	height: 60px;
	border-radius: 5px;
	line-height: 26px;
}

.post-title {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 45px 15px 15px 15px;
	color: #ffffff;
	text-align: left;
	width: 100%;
	background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 100%);
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.7) 100%);
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.7) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#b3000000',GradientType=0 );
}

.post-title h4 {
	font-weight: bold;
	font-size: 20px;
}

.post-author {
	font-size: 13px;
}

#blog .btn-default {
	background-color: #F82B3C;
	margin-top: 40px;
}

#blog .btn-default:hover, #blog .btn-default:focus {
	background-color: #f02a3b;
}

#blog #show-hide2 {
	display: none;
}

@media only screen and (max-width:1200px) {
    
  
}


@media only screen and (max-width:992px) {
    
  
}

@media only screen and (max-width:768px) {
    
  
}

@media only screen and (max-width:576px) {
    
  
}

/* ----------------------------------------------- */

/* SECTION-CONTACT */

/* ----------------------------------------------- */

.section-contact {
    background-image: url(../img/s7.bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    color: #262626;
}

.section-contact h2{
    padding: 101px 0 48px 0;
    color: #262626;
    font-family: Raleway;
    font-size: 90px;
    font-weight: 700;
    line-height: 25px;
}

.section-contact p.lead {
    padding: 0 0 46px 0;
    color: #262626;
    font-family: Raleway;
    font-size: 17px;
    font-weight: 300;
    line-height: 25px;
}

.section-contact h5 {
   font-family: Raleway;
   font-size: 20px;
   font-weight: 700;
   color: #262626;
   padding: 0 0 2px 0;
}

.section-contact p.contact {
    color: #262626;
    font-family: Raleway;
    font-size: 20px;
    font-weight: 300;
    line-height: 25px;
    padding: 0 0 10px 0;
}

.section-contact .form-control:first-of-type {
    font-weight: 700;
    margin-bottom: 15px;
}

.section-contact .form-control {
    margin-bottom: 15px;
    width: 100%;
    height: 50px;
    color: #ffffff;
    font-family: Raleway;
    font-size: 15px;
    font-weight: 300;
    line-height: 25px;
    background-color: #00c4c4;
    opacity: 0.5;
    transition: .4s border-left;
}

.section-contact .form-control:hover {
    border-left: 4px solid #355b82;
}

.section-contact textarea.form-control  {
    resize: none;
    height: 250px;
    color: #ffffff;
    font-family: Raleway;
    font-size: 15px;
    font-weight: 300;
    line-height: 25px;
   
}

#exampleFormControlTextarea1 {
     margin-bottom: 120px;
}

.section-contact textarea.form-control::placeholder {
    color: #ffffff;
}


/* ----------------------------------------------- */

/* FOOTER */

/* ----------------------------------------------- */

footer {
    background-color: #262626;
    color: #ffffff;
    height: 100%;
}

.row.footer {
    max-width: 100%;
    padding: 30px;
}


footer .row  .text{
    color: #b9b9b9;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
}

footer .row .author {
    color: #b9b9b9;
    font-family: Raleway;
    font-size: 15px;
    font-weight: 300;
    line-height: 25px;
    padding-top: 20px;
}

footer .row .author span {
    color: #ff2b58;
    font-family: Raleway - Bold;
    font-weight: 700;
}

@media only screen and (max-width:1200px) {
    
  
}


@media only screen and (max-width:992px) {
    
  
}

@media only screen and (max-width:768px) {
    
  
}

@media only screen and (max-width:576px) {
    
  
}

/* BUTTONS */


button.btn.btn-light.section-home {
    width: 200px;
    height: 55px;
    background-color: #ff6033;
    border: #ff6033;
    text-transform: uppercase;
    margin: 0 0 490px 0;
    color: #ffffff;
    font-family: Raleway;
    font-size: 20px;
    font-weight: 300;
    line-height: 27px;
    text-transform: uppercase;
}

button.btn.btn-light.section-1:hover {
    background-color: #d65632;
    border: none;
}

.services-button {
    width: 400px;
    height: 100px;
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(0,0,0,.5);
    margin-bottom: 20px;
}
    
.services-button::before {
    content: " ";
    display: block;
    position: absolute;
    height: 100px;
    width: 1px;
    right: 278px;
    background: #9d9d9d;
}

.services-button > img {
    padding-right: 26px;

}

.dishes button.btn-gallery {
    width: 200px;
    height: 55px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    background-color: #5585a2;
    text-transform: uppercase;
    margin: 0 auto;
    margin-bottom: 120px;
    margin-top: 50px;
    border-radius: 0;
}


.section-newsletter button:hover {
    background-color:  #8eaf29;
}


