



/* DEFAULTS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {

}


.section {
    width: 100vw;
    height: 100%;
}



/*  FONTS  */




/* ----------------------------------------------- */

/* NAVBAR */


/* ----------------------------------------------- */


.navbar-nav li.nav-item.active a.nav-link:link,
.navbar-nav li.nav-item.active a.nav-link:visited,
.navbar-nav li.nav-item a.nav-link:link,
.navbar-nav li.nav-item a.nav-link:visited {
    color: #262626;
    animation-delay: font-family: Raleway;
    font-size: 16px;
    font-weight: 700;
    line-height: 25px;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
    transition: border-top .1s;
}
 

.navbar-nav li.nav-item.active a.nav-link:hover {
    border-top: 2px solid #ff6033;
    color: #000000;
	border-top: 3px solid #fe6033;

}

a.nav-link:hover {
    border-top: 2px solid #ff6033;
    padding: 4px 0 0 0;
    background-color: inherit;
    color: inherit;
}



.container.navigation-1 {margin-top: 10px;}


/* ----------------------------------------------- */

/* SECTION-HOME */

/* ----------------------------------------------- */

.row .section-1 {
    position: relative;
}



.jumbotron-fluid-1 {
    background-image: url(../img/background1.png);
    width: 100%;
    background-size: cover;
    background-position: center;
    height: 110vh;
    margin-bottom: 0px;
}


.my-jumbotron-text {letter-spacing: 0.35rem;}

.section-1 p {padding: 0 0 30px 165px;}

h2.my-jumbotron-text {    
    font-family: "Raleway - Heavy";
    font-size: 60px;
    font-weight: 700;
    line-height: 25px;
    padding: 258px 0 34px 0;
}


p.text-section-1 {
    color: #262626;
    font-family: Raleway;
    font-size: 17px;
    font-weight: 300;
    line-height: 27px;
    padding: 0 0 31px 0;
}

button.btn.btn-warning.section-1 {
    width: 200px;
    height: 55px;
    background-color: #ff6033;
    border: #ff6033;
    text-transform: uppercase;
    margin: 0 0 490px 0;
    color: #ffffff;
    font-family: Raleway;
    font-size: 20px;
    font-weight: 300;
    line-height: 27px;
    text-transform: uppercase;
}
button.btn.btn-warning.section-1:hover {
    background-color: #d65632;
    border: none;
}

img.scroll-section-1 {
    position: absolute;
    top: 850px;
    left: 50%;
    transform: translate(-50%,-50%);
    padding:  0 0 165px 0;

}



/* ----------------------------------------------- */

/* SECTION-2 */

/* ----------------------------------------------- */

.section-2 {
    background-color: #00bfbf;
    background-image: radial-gradient(circle 1125px at center, rgba(0, 196, 196, 0.9) 0%, rgba(0, 183, 183, 0.9) 32%, rgba(0, 173, 173, 0.9) 68%, rgba(0, 156, 156, 0.9) 100%);
    height: 100%;
}

.section-2 h2 {
    color: #ffffff;
    font-size: 90px;
    font-weight: 700;
    line-height: 27px;
    margin: 180px 0 35px 94px;
    padding-bottom: 35px;
}

.section-2 p.lead {
   color: #ffffff;
   font-family: Raleway;
   font-size: 17px;
   font-weight: 300;
   line-height: 27px;
   margin: 0 0 0 95px;
}


/* ----------------------------------------------- */

/* SECTION-3 */

/* ----------------------------------------------- */

.section-3 {
    background-color: #70bfff;
    height: 100%; 
}

.section-3 h2 {
    color: #ffffff;
    font-family: Raleway;
    font-size: 90px;
    font-weight: 700;
    line-height: 27px;
    position: absolute;
    top: 50%;
    left: 5%;
}
.section-3 .col-md-6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#services {
    height: 790px;
    background-color: #70bfff;
}



.services_button {
    width: 400px;
    height: 100px;
    background-color: #fff;
    -webkit-box-shadow: 0 4px 10px rgba(0,0,0,.5);
    -moz-box-shadow: 0 4px 10px rgba(0,0,0,.5);
    box-shadow: 0 4px 10px rgba(0,0,0,.5);
    margin-bottom: 20px;
}
    


.services_button::before {
    content: " ";
    display: block;
    position: absolute;
    height: 100px;
    width: 1px;
    right: 278px;
    background: #9d9d9d;
}


/*
 .services_button > p {
    font-family: 'raleway-bold';
    font-size: 20px;
    line-height: 27px;
    color: #262626;
    padding-top: 38px;
    width: 300px;
    height: 100px;
    vertical-align: middle;
    text-align: center;
}
*/


p.my-class {
    width: 50%;
    padding-top: 35px;
    margin-bottom: -30px;
    text-align: center;
    margin-left: 70px;
}

p.my-class.global {
    padding-top: 25px;
}

img.pull-right-global {
    float: right;
    position: absolute;
    top: 55%;
    left: 66%;
}

.services_button > img {
    padding-right: 26px;

}

.pull-right {
    float: right!important;
}

/*

.section-3 button {
    width: 400px;
    height: 100px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    background-color: #ffffff;
    margin: 20px;

    color: #262626;
    font-family: Raleway;
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
}


button.btn.btn-light:before {
    content: " ";
    display: block;
    position: absolute;
    height: 100px;
    width: 1px;
    right: 293px;
    background: #9d9d9d;
}




.section-3 button:first-child {
    margin: 180px 0 20px 0;
}

.section-3 button:last-child {
    margin: 20px 0 150px 0;
}



.section-3 button > img {
    width: 55px;
    height: 49px;
    margin-left: 65px;
}

.section-3 button > .text {
    padding-left: 54px;
    
}

.section-3 button > .text-global-1 {
    margin-right: 76px;
}

.section-3 button > .text-global-2 {
    margin-right: 91px;
}


.section-3  img.global {
    margin-left: 58px;
    position: absolute;
    top: 57%;
    left: 56%;
}
*/


 

/* ----------------------------------------------- */

/* SECTION-4 */

/* ----------------------------------------------- */

.section-4 {
    background-color: #ffe92f;
    height: 100%;
}


.section-4 h2 {
    color: #262626;
    font-family: Raleway;
    font-size: 90px;
    font-weight: 700;
    line-height: 27px;
    padding: 100px 0 30px 0;
}
.section-4 p {
    color: #262626;
    font-family: Raleway;
    font-size: 17px;
    font-weight: 300;
    line-height: 27px;
    padding: 30px 0 46px 0;
    text-align: center;
}


.section-4 > .photo-1 {
    width: 770px;
    height: 550px;
    padding: 0;
    margin: 0 30px 0 179px;
}

.section-4 > .photos-1  img.dish-2 {
    padding-bottom: -3px;
}

{
    padding-top: 30px;
}
img.dish-3.img-fluid,
img.dish-4.img-fluid,
img.dish-5.img-fluid
{
    padding-top: 30px;
}


.special > .photos-2 {
    margin-left: 165px;
    
}

.special-4 .col-md-6 > .dish-4 {
     margin: 30px 30px 225px 165px;
}
  
.special-4 .col-md-6 > .dish-5 {
    margin-top: 30px;
    margin-right: 165px;
    margin-left: -2px;
}




.special-4 button.btn-4 {
    width: 200px;
    height: 55px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    background-color: #5585a2;
    text-transform: uppercase;
    margin: 0 auto;
    margin-bottom: 120px;
    margin-top: 50px;

}


/* ----------------------------------------------- */

/* SECTION-5 TRIAL-VERSION */

/* ----------------------------------------------- */



.row .section-1 {
    position: relative;
}



.jumbotron-5 {
    background-image: url(../img/s5.1bg.png);
    max-width: 100%;
    background-size: cover;
    background-position: right;
    height: 100%;
    margin-bottom: 0px;
}


.my-jumbotron-text {
    letter-spacing: 0.35rem;
}

.section-1 p {
    padding: 0 0 30px 165px;
}

h2.my-jumbotron-text-section {
color: #262626;
font-family: Raleway;
font-size: 40px;
font-weight: 700;
line-height: 27px;
padding-top: 145px;
padding-bottom: 35px;
}


p.text-section-5 {
    color: #262626;
    font-family: Raleway;
    font-size: 17px;
    font-weight: 300;
    line-height: 27px;
    padding: 0 0 20px 0;
}


.form-control {
    display: block;
    width: 100%;
    height: 53px;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    opacity: 0.5;
}

.form-group {
    border: 1px solid #262626;
    width: 570px;
    height: 55px;
    margin: 0 0 163px 0;
    opacity: 0.5;
    color: #262626;
    font-family: Raleway;
    font-size: 15px;
    font-weight: 300;
    line-height: 27px;
}

button.btn.btn-primary-5 {
    width: 170px;
    height: 55px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    background-color: #96b92c;
    border: 0;
    color: #ffffff;
    font-family: Raleway;
    font-size: 20px;
    font-weight: 300;
    line-height: 27px;
    text-transform: uppercase;
    
    position: relative;
    top: 70px;
    right: 590px;
    }

.section-5 button:hover {
    background-color:  #8eaf29;
}


/* ----------------------------------------------- */

/* SECTION-5 */

/* ----------------------------------------------- */

.section-5 {
    background-image: url(../img/s5.1bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}


.section-5 h2 {
    color: #262626;
    font-family: Raleway;
    font-size: 40px;
    font-weight: 700;
    line-height: 27px;
    margin: 0 0 34px 164px;
    padding-top: 145px;
}

.section-5 p.lead {
    color: #262626;
    font-family: Raleway;
    font-size: 17px;
    font-weight: 300;
    line-height: 27px;
    margin-left: 163px;
}


.form-control {
    display: block;
    width: 98%;
    height: 53px;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    opacity: 0.5;
}
.section-5 .form-group {
  
    border: 1px solid #262626;
    width: 570px;
    height: 55px;
    margin: 0 0 163px 165px;
    opacity: 0.5;
    color: #262626;
    font-family: Raleway;
    font-size: 15px;
    font-weight: 300;
    line-height: 27px;
}

.section-5 button {
    width: 170px;
    height: 55px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    background-color: #96b92c;
    border: 0;
    position: absolute;
    top: 83%;
    left: 104%;
    margin-bottom: 163px;
    
    font-family: Raleway;
    font-size: 20px;
    font-weight: 300;
    line-height: 27px;
    text-transform: uppercase
    }

.section-5 button:hover {
    background-color:  #8eaf29;
}

/* ----------------------------------------------- */

/* SECTION-6 */

/* ----------------------------------------------- */

.section-6 {
    background-color: #b07cf7;
    height: 100%;   
}

.section-6 h2 {
    color: #ffffff;
    font-family: Raleway;
    font-size: 90px;
    font-weight: 700;
    line-height: 25px;
    padding: 100px 0 50px 0;
}

.section-6 p.lead {
    color: #ffffff;
    font-family: Raleway;
    font-size: 17px;
    font-weight: 300;
    line-height: 25px;
    padding: 0 0 47px 0;
}

.section-6 > img.photo-s6 {
    padding-bottom: 225px;
    background-color: black;
}

.section-6 button {
    width: 200px;
    height: 55px;
    position: relative;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    background-color: #f72b3b;
    border: 1px solid #f72b3b;
    top: 20%;
    left: 2%;
    margin: 50px 0 225px 0;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #f72b3b;
    border: 1px solid #f72b3b;
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
    border: 1px solid #f72b3b;
}


.section-6 button:link,
.section-6 button:active {
    background-color: #f72b3b;
    border: 1px solid #f72b3b;
}

.section-6 button:hover {
    background-color: #c62c38;
    border: 1px solid #f72b3b;
}

div.row.section6 > div.photo-s6-1 {
    
}
 
div.photo-s6-1 {
    margin-left: 99px;
}


div.photo-s6-2 {
    margin-left: -120px;
   
}

div.photo-s6-3 {
    margin-right: 0px;
    padding-right: 0;
    margin-left: 35px;
}

div.phototo-1 {
    background-image: url(../img/s6.1img.png);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 2px 5px rgba(0,0,0,.5);
    background-position: center;
    width: 370px;
    height: 310px;
}
  

div.phototo-2 {
    background-image: url(../img/s6.2img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 2px 5px rgba(0,0,0,.5);
    background-position: center;
    width: 370px;
    height: 310px;
}


div.phototo-3 {
    background-image: url(../img/s6.3img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 2px 5px rgba(0,0,0,.5);
    background-position: center;
    width: 370px;
    height: 310px;
}


div.date {
    width: 60px;
    height: 60px;
    background-color: rgba(0,0,0,0.4);
    font-family: 'raleway-bold';
    border-radius: 5px;
    margin: 15px;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    z-index: 100;
    position: relative;
    top: 8%;
    left: 3%;
}

.date > p:first-child {
    font-size: 32px;
    padding-top: 3px;
    padding-left: 3px;
    line-height: 25px;
}

.date > p:last-child {
    font-size: 24px;
    padding-left: 1px;
    line-height: 4px;
}

.blog_footer {
    font-family: 'raleway-bold';
    font-size: 20px;
    color: #fff;
    margin-top: 110px;
    position: relative;
    z-index: 100;
}

.blog_footer > p:first-child {
    font-family: 'raleway-bold';
    font-size: 20px;
    color: #fff;
    margin-top: 110px;
    position: relative;
    z-index: 100;
    font-weight: bold;
}

.blog_footer > p:last-child {
    font-family: 'raleway-light';
    font-size: 13px;
    color: #fff;
    margin-top: 15px;
    position: relative;
    z-index: 100;
    float: left;
    padding-left: 10px;
}

/* ----------------------------------------------- */

/* SECTION-7 */

/* ----------------------------------------------- */

.section-7 {
    background-image: url(../img/s7.bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
}

.section-7 h2 {
    padding: 101px 0 48px 0;
    color: #262626;
    font-family: Raleway;
    font-size: 90px;
    font-weight: 700;
    line-height: 25px;
}

.section-7 p.lead {
    padding: 0 0 46px 0;
    color: #262626;
    font-family: Raleway;
    font-size: 17px;
    font-weight: 300;
    line-height: 25px;
}

.section-7 h5 {
   font-family: Raleway;
   font-size: 20px;
   font-weight: 700;
   color: #262626;
   padding: 0 0 2px 0;
}

.section-7 p.contact {
    color: #262626;
    font-family: Raleway;
    font-size: 20px;
    font-weight: 300;
    line-height: 25px;
    padding: 0 0 10px 0;
}

.section-7 h5,
.section-7 p.contact {
    margin: 0 0 0 170px;
}

.section-7 .form-control:first-of-type {
    font-weight: 700;
}

.section-7 .form-control {
    margin: 0 0 15px 165px;
    width: 500px;
    height: 50px;
  
    color: #ffffff;
    font-family: Raleway;
    font-size: 15px;
    font-weight: 300;
    line-height: 25px;
    background-color: #00c4c4;
    opacity: 0.5;
    transition: .4s border-left;
}

.section-7 .form-control:hover {
    border-left: 4px solid #355b82;
}

.section-7 textarea.form-control  {
    resize: none;
    height: 250px;
    margin: 0 0 120px 165px;
    color: #ffffff;
    font-family: Raleway;
    font-size: 15px;
    font-weight: 300;
    line-height: 25px;
}

.section-7 textarea.form-control::placeholder {
    color: #ffffff;
}




/* ----------------------------------------------- */

/* FOOTER */

/* ----------------------------------------------- */

footer {
    background-color: #262626;
    color: #ffffff;
    height: 100%;
}

.row {
    max-width: 100%;
}


footer .row  .text{
    float:left;
    margin: 37px 295px 37px 165px;    color: #b9b9b9;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
}

footer .row img {
    margin: 32px 362px 32px 0;
}

footer .row .author {
    margin-top: 20px;
    color: #b9b9b9;
    font-family: Raleway;
    font-size: 15px;
    font-weight: 300;
    line-height: 25px;
    margin-right: 164px;
}

footer .row .author span {
    color: #ff2b58;
    font-family: Raleway - Bold;
    font-weight: 700;
}


/* My Footer */

.page-myfooter {
    padding: 2em 1.5em;
    background:  #e9ebee;
    color: #0149a1;
    text-align: right;
}

.page-myfooter p {
	margin: 0 auto
}

.page-myfooter p  a {
  color: #0149a1;
}

.page-myfooter p  a:hover {
  opacity: 0.5;
}